.features {
  padding: 40px 20px 41px;
}

.features__lead {
  display: block;
  text-align: center;
  padding: 0 20px 29px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;

  @media @tablet-desktop {
    font-size: 40px;
    line-height: 54px;
  }
}

.features__item {
  @media @tablet-desktop {
    margin: 34px 0 0 310px;
    text-align: start;
  }
}

.features__list {
  position: relative;
  margin: 2px -20px 0;
  padding: 0 20px;
  text-align: center;
  background-color: var(--color-lightgrey);

  @media @tablet-desktop {
    min-height: 370px;
    padding-bottom: 49px;
  }

  &::before {
    content: "";
    margin: 0 -20px 50px;
    display: block;
    height: 32px;
    background-image: var(--skew-gradient);
  }
}

.features__title {
  margin-bottom: 11px;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  color: var(--color-black);
}

.features__description {
  margin: 0 0 32px;
  font-weight: 400;
  line-height: 24px;
}

.features__item--3::after {
  content: "";
  display: block;
  margin: 42px auto 0;
  height: 277px;
  width: 157px;
  background-repeat: no-repeat;
  background-image: url("../img/bg-feature-3.png");
  background-size: cover;

  @media @tablet-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 266px;
    height: 482px;
  }
}
