.modal {
  display: none;
  max-width: 460px;
  padding: 44px 20px 52px;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal__title {
  margin: 0 0 37px 0;
  padding: 0;
}

.modal__response {
  margin: 0 0 50px 0;
  padding: 0;
  text-align: center;
}

.modal__button {
  display: block;
  width: 100%;
}
