.reviews {
  @media @desktop {
    position: relative;
  }

  &--position {
    @media @desktop {
      margin-bottom: 82px;
    }
  }
}

.reviews__list {
  position: relative;
  margin: 0;
  padding: 0 20px;

  @media @desktop {
    margin: 0 auto;
    width: 734px;
    padding: 185px 20px 20px;
    background-image: url("../img/icon-comma.svg");
    background-size: 79px 63px;
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
}

.reviews__quote {
  text-align: center;
  margin: 0;

  @media @tablet-desktop {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__author {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  color: var(--color-black);

  @media @tablet-desktop {
    padding-bottom: 32px;
    font-size: 20px;
  }

  @media @desktop {
    font-size: 24px;
  }
}

.reviews__author-bio {
  display: block;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-asphalt);

  @media @mobile {
    display: none;
  }

  @media @desktop {
    font-size: 18px;
  }
}

.reviews__description {
  margin: 12px 0 28px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media @tablet-desktop {
    margin: 0 0 35px;
    font-size: 18px;
  }

  @media @desktop {
    font-size: 18px;
  }
}

.reviews__togglers-list {
  padding-bottom: 33px;

  @media @tablet-desktop {
    padding-bottom: 10px;
  }

  @media @desktop {
    display: none;
  }
}

.reviews__button-arrow {
  display: none;

  @media @desktop {
    position: absolute;
    top: 42%;
    display: block;
    width: 41px;
    height: 41px;
    border: none;
    background-color: transparent;
    color: var(--color-asphalt-30);
  }

  &--right {
    @media @desktop {
      right: 9%;
      top: 50%;
    }
  }

  &--left {
    @media @desktop {
      top: 50%;
      left: 11%;
    }
  }

  &::before {
    @media @desktop {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 41px;
      height: 41px;
      background-color: currentColor;
      mask-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &--left::before {
    @media @desktop {
      mask-image: url("../img/icon-left-arrow.svg");
    }
  }

  &--right::before {
    @media @desktop {
      mask-image: url("../img/icon-right-arrow.svg");
    }
  }

  &:hover {
    color: var(--color-asphalt-60);
  }

  &:active {
    color: var(--color-asphalt-10);
  }
}
