.reviews {
  @media @desktop {
    position: relative;
  }
}

.reviews__list {
  position: relative;
  margin: 0;
  padding: 0 20px;

  @media @desktop {
    margin: 0 auto;
    width: 734px;
    padding: 185px 20px 20px;
    background-image: url("../img/icon-comma.svg");
    background-size: 79px 63px;
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }

  // &::before {
  //   @media @desktop {
  //     content: "";
  //     position: absolute;
  //     width: 22px;
  //     height: 41px;
  //     mask-image: url("icon-left-arrow");
  //     mask-repeat: no-repeat;
  //   }
  // }
}

.reviews__quote {
  text-align: center;
  margin: 0;

  @media @tablet-desktop {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__author {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  color: var(--color-black);

  @media @tablet-desktop {
    padding-bottom: 32px;
    font-size: 20px;
  }

  @media @desktop {
    font-size: 24px;
  }
}

.reviews__author-bio {
  display: block;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-asphalt);

  @media @mobile {
    display: none;
  }

  @media @desktop {
    font-size: 18px;
  }
}

.reviews__description {
  margin: 12px 0 28px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media @tablet-desktop {
    margin: 0 0 35px;
    font-size: 18px;
  }

  @media @desktop {
    font-size: 18px;
  }
}

.reviews__togglers-list {
  padding-bottom: 33px;

  @media @tablet-desktop {
    padding-bottom: 10px;
  }

  @media @desktop {
    display: none;
  }
}
