.travel {
  @media @desktop {
    grid-template-areas: "area-1 area-3 area-5" "area-2 area-4 area-6";
    grid-template-columns: repeat(3, auto);
    gap: 40px 56px;
  }

  &__group:nth-child(1) {
    @media @desktop {
      grid-area: area-1;
    }
  }

  &__group:nth-child(2) {
    @media @desktop {
      grid-area: area-2;
    }
  }

  &__group:nth-child(3) {
    @media @desktop {
      grid-area: area-3;
    }
  }

  &__group:nth-child(4) {
    @media @desktop {
      grid-area: area-4;
    }
  }

  &__group:nth-child(5) {
    @media @desktop {
      grid-area: area-5;
    }
  }

  &__group:nth-child(6) {
    @media @desktop {
      grid-area: area-6;
    }
  }
}
