{% extends "_layout.njk" %}

{% set title = 'Каталог' %}

{% block main %}
  <section class="content page-main__content">
    <header class="content__header content__header--catalog">
      <h1 class="content__title">
        Фотографии
        <br>
        пользователей
      </h1>
    </header>

    <b class="content__subtitle content__subtitle--catalog">
      Взгляните на фотографии, которые выкладывают пользователи!
      <br>
      Видите, как не хватает ваших?
    </b>

    <article class="photo-cards content__photo-cards photo-cards--panorama">
      <h2 class="visually-hidden">
        Фотография пользователя-1.
      </h2>

      <figure class="photo-cards__block photo-cards__block--panorama">

        <p class="photo-cards__panorama">
          Панорама дня
        </p>

        <picture>
          <source media="(min-width: 980px)" srcset="img/panorama-desktop.jpg, img/panorama-desktop@2x.jpg 2x">
          <source media="(min-width: 660px)" srcset="img/panorama-tablet.jpg, img/panorama-tablet@2x.jpg 2x">
          <img class="photo-cards__photo photo-cards__photo--panorama" src="img/panorama-mobile.jpg" srcset="img/panorama-mobile@2x.jpg 2x" alt="Панорама гор и леса.">
        </picture>

        <figcaption class="photo-cards__photo-content photo-cards__photo-content--panorama">
          <blockquote class="photo-cards__quote photo-cards__quote--panorama">
            <p class="photo-cards__cite">
              <cite class="photo-cards__author">
                Анна
              </cite>

              <time class="photo-cards__time" datetime="2022-04-09T23:46:01">
                (5 минут назад)
              </time>
            </p>

            <p class="photo-cards__description photo-cards__description--panorama">
              Прыгать или нет? Напишите в комментарии свой совет и
              <br>
              смотрите прямую трансляцию в перископе, задавайте свои вопросы!
            </p>

            <form class="photo-cards__likes-form photo-cards__likes-form--panorama" action="https://echo.htmlacademy.ru" method="post">
              <button class="photo-cards__button photo-cards__button--panorama" type="submit" name="userID" value="1">
                <span class="visually-hidden">
                  Поставить лайк.
                </span>
              </button>

              <p class="photo-cards__likes">
                Нравится: 215
              </p>
              <input type="hidden" name="photo" value="Панорама гор и леса">
            </form>
          </blockquote>
        </figcaption>
      </figure>
    </article>

    <ul class="photo-list content__photo-list">
      <li class="content__photo-item">
        <article class="photo-cards content__photo-cards">
          <h2 class="visually-hidden">
            Фотография пользователя-2.
          </h2>

          <figure class="photo-cards__block">
            <picture>
              <source media="(min-width: 980px)" srcset="img/photo-1-desktop.jpg, img/photo-1-desktop@2x.jpg 2x" >
              <source media="(min-width: 660px)" srcset="img/photo-1-tablet.jpg, img/photo-1-tablet@2x.jpg 2x">
              <img class="photo-cards__photo" src="img/photo-1-mobile.jpg" srcset="img/photo-1-mobile@2x.jpg 2x" alt="Камера на
              триноге фоткает машину.">
            </picture>
            <figcaption class="photo-cards__photo-content">
              <blockquote class="photo-cards__quote">
                <div>
                  <p class="photo-cards__cite">
                    <cite class="photo-cards__author">
                      Левон
                    </cite>

                    <time class="photo-cards__time" datetime="2022-04-09T23:46:01">
                      (5 часов назад)
                    </time>
                  </p>

                  <p class="photo-cards__description">
                    Вчера он на луну летал, сегодня в руки к нам попал.
                  </p>
                </div>

                <form class="photo-cards__likes-form" action="https://echo.htmlacademy.ru" method="post">
                  <button class="photo-cards__button" type="submit" name="userID" value="1">
                    <span class="visually-hidden">
                      Поставить лайк.
                    </span>
                  </button>

                  <p class="photo-cards__likes">
                    Нравится: 356
                  </p>
                  <input type="hidden" name="photo" value="Камера на триноге фоткает машину">
                </form>
              </blockquote>
            </figcaption>
          </figure>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-cards content__photo-cards">
          <h2 class="visually-hidden">
            Фотография пользователя-3.
          </h2>

          <figure class="photo-cards__block">

            <picture>
              <source media="(min-width: 980px)" srcset="img/photo-2-desktop.jpg, img/photo-2-desktop@2x.jpg 2x" >
              <source media="(min-width: 660px)" srcset="img/photo-2-tablet.jpg, img/photo-2-tablet@2x.jpg 2x">
              <img class="photo-cards__photo" src="img/photo-2-mobile.jpg" srcset="img/photo-2-mobile@2x.jpg 2x" alt="Барабанная установка.">
            </picture>

            <figcaption class="photo-cards__photo-content">
              <blockquote class="photo-cards__quote">
                <div>
                  <p class="photo-cards__cite">
                    <cite class="photo-cards__author">
                      Антон
                    </cite>
                    <time class="photo-cards__time" datetime="2022-04-09T23:46:01">
                      (12 часов назад)
                    </time>
                  </p>

                  <p class="photo-cards__description">
                    Соседи будут рады!
                  </p>
                </div>

                <form class="photo-cards__likes-form" action="https://echo.htmlacademy.ru" method="post">
                  <button class="photo-cards__button" type="submit" name="userID" value="1">
                    <span class="visually-hidden">
                      Поставить лайк.
                    </span>
                  </button>

                  <p class="photo-cards__likes">
                    Нравится: 666
                  </p>
                  <input type="hidden" name="photo" value="Барабанная установка">
                </form>
              </blockquote>
            </figcaption>
          </figure>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-cards content__photo-cards">
          <h2 class="visually-hidden">
            Фотография пользователя-4.
          </h2>

          <figure class="photo-cards__block">

            <picture>
              <source media="(min-width: 980px)" srcset="img/photo-3-desktop.jpg, img/photo-3-desktop@2x.jpg 2x" >
              <source media="(min-width: 660px)" srcset="img/photo-3-tablet.jpg, img/photo-3-tablet@2x.jpg 2x">
              <img class="photo-cards__photo" src="img/photo-3-mobile.jpg" srcset="img/photo-3-mobile@2x.jpg 2x" alt="Стеклянный потолок с видом на облака.">
            </picture>

            <figcaption class="photo-cards__photo-content">
              <blockquote class="photo-cards__quote">

                <div>
                  <p class="photo-cards__cite">
                    <cite class="photo-cards__author">
                      Борис
                    </cite>
                    <time class="photo-cards__time" datetime="2022-04-09T23:46:01">
                      (20 часов назад)
                    </time>
                  </p>

                  <p class="photo-cards__description">
                    Здесь могла быть ваша цитата о высоком и вечном.
                  </p>
                </div>

                <form class="photo-cards__likes-form" action="https://echo.htmlacademy.ru" method="post">
                  <button class="photo-cards__button" type="submit" name="userID" value="1">
                    <span class="visually-hidden">
                      Поставить лайк.
                    </span>
                  </button>

                  <p class="photo-cards__likes">
                    Нравится: 215
                  </p>
                  <input type="hidden" name="photo" value="Стеклянный потолок с видом на облака">
                </form>
              </blockquote>
            </figcaption>
          </figure>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-cards content__photo-cards">
          <h2 class="visually-hidden">
            Фотография пользователя-5.
          </h2>

          <figure class="photo-cards__block">

            <picture>
              <source media="(min-width: 980px)" srcset="img/photo-4-desktop.jpg, img/photo-4-desktop@2x.jpg 2x" >
              <source media="(min-width: 660px)" srcset="img/photo-4-tablet.jpg, img/photo-4-tablet@2x.jpg 2x">
              <img class="photo-cards__photo" src="img/photo-4-mobile.jpg" srcset="img/photo-4-mobile@2x.jpg 2x" alt="Шатер с кубанской бахчёй.">
            </picture>

            <figcaption class="photo-cards__photo-content">
              <blockquote class="photo-cards__quote">

                <div>
                  <p class="photo-cards__cite">
                    <cite class="photo-cards__author">
                      Сергей
                    </cite>
                    <time class="photo-cards__time" datetime="2022-04-09T23:46:01">
                      (25 часов назад)
                    </time>
                  </p>

                  <p class="photo-cards__description">
                    Самая кубанская в мире!
                  </p>
                </div>

                <form class="photo-cards__likes-form" action="https://echo.htmlacademy.ru" method="post">
                  <button class="photo-cards__button" type="submit" name="userID" value="1">
                    <span class="visually-hidden">
                      Поставить лайк.
                    </span>
                  </button>

                  <p class="photo-cards__likes">
                    Нравится: 4
                  </p>
                  <input type="hidden" name="photo" value="Шатер с кубанской бахчёй">
                </form>
              </blockquote>
            </figcaption>
          </figure>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-cards content__photo-cards">
          <h2 class="visually-hidden">
            Фотография пользователя-6.
          </h2>

          <figure class="photo-cards__block">

            <picture>
              <source media="(min-width: 980px)" srcset="img/photo-5-desktop.jpg, img/photo-5-desktop@2x.jpg 2x" >
              <source media="(min-width: 660px)" srcset="img/photo-5-tablet.jpg, img/photo-5-tablet@2x.jpg 2x">
              <img class="photo-cards__photo" src="img/photo-5-mobile.jpg" srcset="img/photo-5-mobile@2x.jpg 2x" alt="Вид с высокой горы.">
            </picture>

            <figcaption class="photo-cards__photo-content">
              <blockquote class="photo-cards__quote">

                <div>
                  <p class="photo-cards__cite">
                    <cite class="photo-cards__author">
                      Максим
                    </cite>

                    <time class="photo-cards__time" datetime="2022-04-09T23:46:01">
                      (40 часов назад)
                    </time>
                  </p>

                  <p class="photo-cards__description">
                    Где снег-то?
                  </p>
                </div>

                <form class="photo-cards__likes-form" action="https://echo.htmlacademy.ru" method="post">
                  <button class="photo-cards__button" type="submit" name="userID" value="1">
                    <span class="visually-hidden">
                      Поставить лайк.
                    </span>
                  </button>

                  <p class="photo-cards__likes">
                    Нравится: 150
                  </p>
                  <input type="hidden" name="photo" value="Вид с высокой горы">
                </form>
              </blockquote>
            </figcaption>
          </figure>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-cards content__photo-cards">
          <h2 class="visually-hidden">
            Фотография пользователя-7.
          </h2>

          <figure class="photo-cards__block">

            <picture>
              <source media="(min-width: 980px)" srcset="img/photo-6-desktop.jpg, img/photo-6-desktop@2x.jpg 2x" >
              <source media="(min-width: 660px)" srcset="img/photo-6-tablet.jpg, img/photo-6-tablet@2x.jpg 2x">
              <img class="photo-cards__photo" src="img/photo-6-mobile.jpg" srcset="img/photo-6-mobile@2x.jpg 2x" alt="Вид из иллюмината самолета.">
            </picture>

            <figcaption class="photo-cards__photo-content">
              <blockquote class="photo-cards__quote">

                <div>
                  <p class="photo-cards__cite">
                    <cite class="photo-cards__author">
                      Надежда
                    </cite>
                    <time class="photo-cards__time" datetime="2022-04-09T23:46:01">
                      (45 часов назад)
                    </time>
                  </p>

                  <p class="photo-cards__description">
                    Всем GM и взаимные лайки!
                  </p>
                </div>

                <form class="photo-cards__likes-form" action="https://echo.htmlacademy.ru" method="post">
                  <button class="photo-cards__button" type="submit" name="userID" value="1">
                    <span class="visually-hidden">
                      Поставить лайк.
                    </span>
                  </button>

                  <p class="photo-cards__likes">
                    Нравится: 2560
                  </p>
                  <input type="hidden" name="photo" value="Вид из иллюмината самолета">
                </form>
              </blockquote>
            </figcaption>
          </figure>
        </article>
      </li>
    </ul>

    <p class="content__subtitle">
      Затмите их всех!
      <br>
      &nbsp;Выкладывайте все, что накопилось в телефоне!
    </p>
  </section>

  <section class="form-post form-post--position">
    <form class="form-post__form" action="https://echo.htmlacademy.ru" method="post">
      <p class="form-post__add">
        <label class="form-post__label">
          <span class="visually-hidden">
            Запостите свою фотографию.
          </span>
          <input class="visually-hidden" type="file">
        </label>
      </p>

      <h2 class="visually-hidden">
        Редактирование фотографии.
      </h2>

      <div>
        <fieldset class="form-post__fieldset">
          <legend class="visually-hidden">
            Фильры.
          </legend>

          <p class="form-post__control">
            <button class="form-post__button-control form-post__button-control--cut" type="submit">
              <span class="visually-hidden">
                Переключить на режим обрезать.
              </span>
            </button>

            <label class="form-post__label form-post__label--cut">
              <span class="visually-hidden">
                Обрезать.
              </span>
              <input class="range form-post__range" type="range" name="cut" min="1" max="100" value="85" >
            </label>
          </p>

          <p class="form-post__control">
            <button class="form-post__button-control form-post__button-control--shade" type="submit">
              <span class="visually-hidden">
                Переключить на режим оттенок.
              </span>
            </button>

            <label class="form-post__label">
              <span class="visually-hidden">
                Оттенок.
              </span>
              <input class="range form-post__range" type="range" name="shade" min="1" max="100" value="15" >
            </label>
          </p>

          <p class="form-post__control">
            <button class="form-post__button-control form-post__button-control--contrast" type="submit">
              <span class="visually-hidden">
                Переключить на режим контраст.
              </span>
            </button>

            <label class="form-post__label form-post__label--current-none">
              <span class="visually-hidden">
                Контраст.
              </span>
              <input class="range form-post__range" type="range" name="contrast" min="1" max="100" value="50" >
            </label>
          </p>
        </fieldset>

        <p class="form-post__button-block">
          <button class="form-post__button" type="submit">
            Запостить
          </button>

          <button class="form-post__button form-post__button--reset" type="reset">
            Отмена
          </button>
        </p>
      </div>
    </form>
  </section>
{% endblock %}
