{% extends "_layout.njk" %}

{% set title = 'Каталог' %}

{% block main %}
  <section class="content page-main__content">
    <header class="content__catalog-header">
      <h1 class="content__title">
        Фотографии пользователей
      </h1>
    </header>

    <b class="content__subtitle">
      Взгляните на фотографии, которые выкладывают пользователи!
      Видите, как не хватает ваших?
    </b>

    <ul class="content__photo-list">
      <li class="content__photo-item">
        <article class="photo-users content__photo-users">
          <h2 class="visually-hidden">
            Фотография пользователя.
          </h2>

          <figure class="photo-users__block">
            <img class="photo-users__photo photo-users__photo--panorama" src="img/panorama-mobile.jpg" width="" height="" alt="Панорама гор и леса.">
            <span class="photo-users__tooltip">
              ПАНОРАМА ДНЯ
            </span>
            <figcaption class="photo-users__photo-content">
              <blockquote class="photo-users__qote">
                <p class="photo-users__cite">
                  <cite class="photo-users__author">
                    Анна
                  </cite>
                  <time class="photo-users__time" datetime="2022-04-09T23:46:01">
                    (5 минут назад)
                  </time>
                  <p class="photo-users__description">
                    Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
                  </p>
                </p>
              </blockquote>
            </figcaption>
          </figure>

          <form class="photo-users__likes-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="photo-users__likes">
              Нравится: 215
            </p>
            <button class="photo-users__button" type="submit" name="like" value="1">
              <span class="visually-hidden">
                Поставить лайк.
              </span>
            </button>
          </form>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-users content__photo-users">
          <h2 class="visually-hidden">
            Фотография пользователя.
          </h2>

          <figure class="photo-users__block">
            <img class="photo-users__photo" src="img/photo-1-mobile.jpg" width="" height="" alt="Камера на триноге фоткает машину.">
            <figcaption class="photo-users__photo-content">
              <blockquote class="photo-users__qote">
                <p class="photo-users__cite">
                  <cite class="photo-users__author">
                    Левон
                  </cite>
                  <time class="photo-users__time" datetime="2022-04-09T23:46:01">
                    (5 часов назад)
                  </time>
                  <p class="photo-users__description">
                    Вчера он на луну летал, сегодня в руки к нам попал.
                  </p>
                </p>
              </blockquote>
            </figcaption>
          </figure>

          <form class="photo-users__likes-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="photo-users__likes">
              Нравится: 356
            </p>
            <button class="photo-users__button" type="submit" name="like" value="1">
              <span class="visually-hidden">
                Поставить лайк.
              </span>
            </button>
          </form>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-users content__photo-users">
          <h2 class="visually-hidden">
            Фотография пользователя.
          </h2>

          <figure class="photo-users__block">
            <img class="photo-users__photo" src="img/photo-2-mobile.jpg" width="" height="" alt="Барабанная установка.">
            <figcaption class="photo-users__photo-content">
              <blockquote class="photo-users__qote">
                <p class="photo-users__cite">
                  <cite class="photo-users__author">
                    Антон
                  </cite>
                  <time class="photo-users__time" datetime="2022-04-09T23:46:01">
                    (12 часов назад)
                  </time>
                  <p class="photo-users__description">
                    Соседи будут рады!
                  </p>
                </p>
              </blockquote>
            </figcaption>
          </figure>

          <form class="photo-users__likes-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="photo-users__likes">
              Нравится: 666
            </p>
            <button class="photo-users__button" type="submit" name="like" value="1">
              <span class="visually-hidden">
                Поставить лайк.
              </span>
            </button>
          </form>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-users content__photo-users">
          <h2 class="visually-hidden">
            Фотография пользователя.
          </h2>

          <figure class="photo-users__block">
            <img class="photo-users__photo" src="img/photo-3-mobile.jpg" width="" height="" alt="Стеклянный потолок с видом на облака.">
            <figcaption class="photo-users__photo-content">
              <blockquote class="photo-users__qote">
                <p class="photo-users__cite">
                  <cite class="photo-users__author">
                    Борис
                  </cite>
                  <time class="photo-users__time" datetime="2022-04-09T23:46:01">
                    (20 часов назад)
                  </time>
                  <p class="photo-users__description">
                    Здесь могла быть ваша цитата о высоком и вечном.
                  </p>
                </p>
              </blockquote>
            </figcaption>
          </figure>

          <form class="photo-users__likes-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="photo-users__likes">
              Нравится: 215
            </p>
            <button class="photo-users__button" type="submit" name="like" value="1">
              <span class="visually-hidden">
                Поставить лайк.
              </span>
            </button>
          </form>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-users content__photo-users">
          <h2 class="visually-hidden">
            Фотография пользователя.
          </h2>

          <figure class="photo-users__block">
            <img class="photo-users__photo" src="img/photo-4-mobile.jpg" width="" height="" alt="Шатер с кубанской бахчёй.">
            <figcaption class="photo-users__photo-content">
              <blockquote class="photo-users__qote">
                <p class="photo-users__cite">
                  <cite class="photo-users__author">
                    Сергей
                  </cite>
                  <time class="photo-users__time" datetime="2022-04-09T23:46:01">
                    (25 часов назад)
                  </time>
                  <p class="photo-users__description">
                    Самая кубанская в мире!
                  </p>
                </p>
              </blockquote>
            </figcaption>
          </figure>

          <form class="photo-users__likes-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="photo-users__likes">
              Нравится: 4
            </p>
            <button class="photo-users__button" type="submit" name="like" value="1">
              <span class="visually-hidden">
                Поставить лайк.
              </span>
            </button>
          </form>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-users content__photo-users">
          <h2 class="visually-hidden">
            Фотография пользователя.
          </h2>

          <figure class="photo-users__block">
            <img class="photo-users__photo" src="img/photo-5-mobile.jpg" width="" height="" alt="Вид с высокой горы.">
            <figcaption class="photo-users__photo-content">
              <blockquote class="photo-users__qote">
                <p class="photo-users__cite">
                  <cite class="photo-users__author">
                    Максим
                  </cite>
                  <time class="photo-users__time" datetime="2022-04-09T23:46:01">
                    (40 часов назад)
                  </time>
                  <p class="photo-users__description">
                    Где снег-то?
                  </p>
                </p>
              </blockquote>
            </figcaption>
          </figure>

          <form class="photo-users__likes-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="photo-users__likes">
              Нравится: 150
            </p>
            <button class="photo-users__button" type="submit" name="like" value="1">
              <span class="visually-hidden">
                Поставить лайк.
              </span>
            </button>
          </form>
        </article>
      </li>

      <li class="content__photo-item">
        <article class="photo-users content__photo-users">
          <h2 class="visually-hidden">
            Фотография пользователя.
          </h2>

          <figure class="photo-users__block">
            <img class="photo-users__photo" src="img/photo-6-mobile.jpg" width="" height="" alt="Вид из иллюмината самолета.">
            <figcaption class="photo-users__photo-content">
              <blockquote class="photo-users__qote">
                <p class="photo-users__cite">
                  <cite class="photo-users__author">
                    Надежда
                  </cite>
                  <time class="photo-users__time" datetime="2022-04-09T23:46:01">
                    (45 часов назад)
                  </time>
                  <p class="photo-users__description">
                    Всем GM и взаимные лайки!
                  </p>
                </p>
              </blockquote>
            </figcaption>
          </figure>

          <form class="photo-users__likes-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="photo-users__likes">
              Нравится: 2560
            </p>
            <button class="photo-users__button" type="submit" name="like" value="1">
              <span class="visually-hidden">
                Поставить лайк.
              </span>
            </button>
          </form>
        </article>
      </li>
    </ul>
  </section>

  <p class="page-main__subtitle">
    Затмите их всех!
    Выкладывайте все, что накопилось в телефоне!
  </p>

  <section class="form-post page-main__form-post">
    <h2 class="visually-hidden">
      Запостите свою фотографию.
    </h2>
    <picture class="form-post__photo">
      <img class="form-post__img" src="img/photo-7-mobile.jpg" alt="Зимняя дорога">
    </picture>

    <form class="form-post__form" action="https://echo.htmlacademy.ru" method="post">
      <h2 class="visually-hidden">
        Редактирование фотографии.
      </h2>
      <p class="form-post__control">
        <label class="form-post__label">
          <span class="visually-hidden">
            Обрезать.
          </span>
          <input class="form-post__input" type="range" name="switch" min="1" max="100" value="80" >
        </label>
      </p>

      <p class="form-post__control">
        <label class="form-post__label">
          <span class="visually-hidden">
            Оттенок.
          </span>
          <input class="form-post__input" type="range" name="switch" min="1" max="100" value="20" >
        </label>
      </p>

      <p class="form-post__control">
        <label class="form-post__label">
          <span class="visually-hidden">
            Контраст.
          </span>
          <input class="form-post__input" type="range" name="switch" min="1" max="100" value="50" >
        </label>
      </p>

      <p class="form-post__button-block">
        <button class="form-post__button" type="submit">
          Запостить
        </button>

        <button class="form-post__button form-post__button--reset" type="reset">
          Отмена
        </button>
      </p>
    </form>
  </section>
{% endblock %}
