{% extends "_layout.njk" %}

{% set title = 'Главная' %}

{% block main %}
  <header class="promo page-main__promo">
    <h1 class="visually-hidden">
      Pink.
    </h1>

    <b class="promo__lead">
      Взгляните на жизнь иначе!
    </b>

    <img class="promo__img-phone" src="img/hand-phone.jpg" alt="Телефон с запущенным приложением Pink в руке.">

    <a class="promo__button-download" href="https://www.apple.com/ru/app-store/">
      Скачать приложение
    </a>

    <ul class="platforms-list promo__platforms-list">
      <li class="platforms-list__item">
        <a class="platforms-list__link platforms-list__link--apple" href="https://www.apple.com/ru/app-store/">
          <span class="visually-hidden">
            Версия для Apple.
          </span>
        </a>
      </li>

      <li class="platforms-list__item">
        <a class="platforms-list__link platforms-list__link--android" href="https://play.google.com">
          <span class="visually-hidden">
            Версия для Android.
          </span>
        </a>
      </li>

      <li class="platforms-list__item">
        <a class="platforms-list__link platforms-list__link--microsoft" href="https://www.microsoft.com/">
          <span class="visually-hidden">
            Версия для Microsoft.
          </span>
        </a>
      </li>
    </ul>

    <p class="promo__desc">
      Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
    </p>
  </header>

  <section class="features page-main__features">
    <h2 class="visually-hidden">
      Особенности.
    </h2>

    <b class="features__lead">
      Устали от серости мегаполиса?
    </b>

    <b class="features__lead">
      Нам есть, что вам предложить!
    </b>

    <dl class="features__list">
      <dt class="features__item">
        Поднимает настроение
      </dt>
      <dd class="features__description">
        Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
      </dd>

      <dt class="features__item">
        Меняет мир вокруг
      </dt>
      <dd class="features__description">
        Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
      </dd>

      {# К этому пункту добавится декорация с телефоном #}
      <dt class="features__item">
        Заводит новых друзей
      </dt>
      <dd class="features__description">
        Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
      </dd>
    </dl>
  </section>


  <section class="reviews-section page-main__reviews">
    <h2 class="visually-hidden">
      Отзывы.
    </h2>

    <p class="reviews-section__caption">

    </p>

    <ul class="reviews-section__list">
      <li class="reviews-section__item">
        <blockquote class="reviews-section__quote">
          <cite class="reviews-section__author">
            Николай Петров
          </cite>

          <p class="reviews-section__description">
            «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
          </p>
        </blockquote>
      </li>
    </ul>

    <ul class="togglers reviews-section__togglers-list">
      <li class="togglers__item">
        <a class="togglers__button togglers__button--current" href="#!">
          <span class="visually-hidden">
            К отзыву 1.
          </span>
        </a>
      </li>

      <li class="togglers__item">
        <a class="togglers__button" href="#!">
          <span class="visually-hidden">
            К отзыву 2.
          </span>
        </a>
      </li>

      <li class="togglers__item">
        <a class="togglers__button" href="#!">
          <span class="visually-hidden">
            К отзыву 3.
          </span>
        </a>
      </li>
    </ul>
  </section>

  <section class="tariffs page-main__tariffs">
    <h2 class="visually-hidden">
      Тарифы.
    </h2>

    <table class="tariffs__table">
      <thead>
        <tr class="tariffs__names">
          <th class="visually-hidden" scope="col">
            Свойства.
          </th>

          <th class="tariffs__name" scope="col">
            База
            <p class="tariffs__price">
              1,99 USD
            </p>
          </th>

          <th class="hit tariffs__name" scope="col">
            Стандарт
            <span class="hit__content">
              Хит
            </span>
            <p class="tariffs__price">
              3,99 USD
            </p>
          </th>

          <th class="tariffs__name" scope="col">
            Анлим
            <p class="tariffs__price">
              9,99 USD
            </p>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="tariffs__functions">
          <th class="tariffs__function" scope="row">
            Розовый фильтр
          </th>
          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--yes">
              <span class="visually-hidden">
                Есть
              </span>
            </p>
          </td>

          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--yes">
              <span class="visually-hidden">
                Есть
              </span>
            </p>
          </td>

          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--yes">
              <span class="visually-hidden">
                Есть
              </span>
            </p>
          </td>
        </tr>

        <tr class="tariffs__functions">
          <th class="tariffs__function" scope="row">
            Смайлики
          </th>
          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--no">
              <span class="visually-hidden">
                Нет
              </span>
            </p>
          </td>

          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--yes">
              <span class="visually-hidden">
                Есть
              </span>
            </p>
          </td>

          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--yes">
              <span class="visually-hidden">
                Есть
              </span>
            </p>
          </td>
        </tr>

        <tr class="tariffs__functions">
          <th class="tariffs__function" scope="row">
            Комментарии
          </th>
          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--no">
              <span class="visually-hidden">
                Нет
              </span>
            </p>
          </td>

          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--no">
              <span class="visually-hidden">
                Нет
              </span>
            </p>
          </td>

          <td class="tariffs__function">
            <p class="tariffs__value tariffs__value--yes">
              <span class="visually-hidden">
                Есть
              </span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <ul class="togglers tariffs__togglers-list">
      <li class="togglers__item">
        <a class="togglers__button" href="#!">
          <span class="visually-hidden">
            К тарифу «База».
          </span>
        </a>
      </li>

      <li class="togglers__item">
        <a class="togglers__button togglers__button--current" href="#!">
          <span class="visually-hidden">
            К тарифу «Стандарт».
          </span>
        </a>
      </li>

      <li class="togglers__item">
        <a class="togglers__button" href="#!">
          <span class="visually-hidden">
            К тарифу «Анлим».
          </span>
        </a>
      </li>
    </ul>
  </section>

  <footer class="contacts page-main__footer">
    <p class="contacts__tagline">
      Остались вопросы?
      Свяжитесь с нами!
    </p>

    <dl class="contacts-list contacts__list">
      <dt class="contacts-list__item">
        Звоните:
      </dt>
      <dd class="contacts-list__description">
        <a class="contacts-list__link" href="tel:+78125556666">
          +7 (812) 555-66-66
        </a>
      </dd>

      <dt class="contacts-list__item">
        Пишите:
      </dt>
      <dd class="contacts-list__description">
        <a class="contacts-list__link" href="mailto:mail@htmlacademy.ru">
          mail@htmlacademy.ru
        </a>
      </dd>

      <dt class="contacts-list__item">
        Приезжайте в гости:
      </dt>
      <dd class="contacts-list__description">
        <a class="contacts-list__link" href="#!">
          ул. Большая Конюшенная, 19/8
        </a>
      </dd>
    </dl>
  </footer>
{% endblock %}
