{% extends "_layout.njk" %}

{% set title = 'Главная' %}

{% block main %}
  <header class="promo page-main__promo">
    <div class="promo__position-wrapper">
      <div class="promo__bg-block">
        <h1 class="visually-hidden">
          Pink.
        </h1>

        <b class="promo__lead">
          Взгляните на&nbsp;жизнь иначе!
        </b>

        <picture>
          <source media="(min-width: 660px)" srcset="img/hand-phone-tablet.png, img/hand-phone-tablet@2x.png 2x">
          <img class="promo__img-phone" src="img/hand-phone.png" srcset="img/hand-phone@2x.png 2x" alt="Телефон с запущенным приложением Pink в руке.">
        </picture>

      </div>
      <a class="promo__button-download" href="https://www.apple.com/ru/app-store/">
        Скачать приложение
      </a>

      <ul class="platforms-list promo__platforms-list">
        <li class="platforms-list__item">
          <a class="platforms-list__link platforms-list__link--apple" href="https://www.apple.com/ru/app-store/">
            <img src="img/icon-apple.svg" alt="Версия для Apple." width="47" height="56">
          </a>
        </li>

        <li class="platforms-list__item">
          <a class="platforms-list__link platforms-list__link--android" href="https://play.google.com">
            <img src="img/icon-android.svg" alt="Версия для Android." width="43" height="47">
          </a>
        </li>

        <li class="platforms-list__item">
          <a class="platforms-list__link platforms-list__link--microsoft" href="https://www.microsoft.com/">
            <img src="img/icon-microsoft.svg" alt=" Версия для Microsoft." width="44" height="41">
          </a>
        </li>
      </ul>

      <p class="promo__desc">
        Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
      </p>
    </div>
  </header>

  <section class="features page-main__features">
    <h2 class="visually-hidden">
      Особенности.
    </h2>

    <b class="features__lead">
      Устали от серости мегаполиса?
    </b>

    <b class="features__lead">
      Нам есть., что вам
      <br>
      предложить!
    </b>

    <div class="features__wrapper">
      <dl class="features__list">
        <div class="features__item features__item--1">
          <dt class="features__title">
            Поднимает настроение
          </dt>
          <dd class="features__description">
            Приложение позволит вам победить осеннюю хандру и&nbsp;депрессию буквально в несколько кликов!
          </dd>
        </div>

        <div class="features__item features__item--2">
          <dt class="features__title">
            Меняет мир вокруг
          </dt>
          <dd class="features__description">
            Сделайте снимок и украсьте&nbsp;его смайликом или&nbsp;текстовой подписью, чтобы усилить&nbsp;эффект
          </dd>
        </div>

        <div class="features__item features__item--3">
          <dt class="features__title">
            Заводит новых друзей
          </dt>
          <dd class="features__description features__description--phone">
            Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
          </dd>
        </div>
      </dl>
    </div>
  </section>

  <section class="announce page-main__announce">
    <div class="announce__wrapper">
      <h2 class="announce__headline">
        Эффект&nbsp;<br>на 24 часа!
      </h2>

      <p class="announce__desc">
        Британские ученые провели исследования
        и&nbsp;доказали, что&nbsp;положительный эффект
        от&nbsp;использования приложения длится целые сутки!
      </p>

      <a class="announce__link" href="#!" >
        Узнать больше об исследовании
      </a>
    </div>
  </section>

  <section class="reviews page-main__reviews reviews--position">
    <h2 class="visually-hidden">
      Отзывы.
    </h2>

    <div class="reviews__wrapper-position">
      <ul class="reviews__list">
        <li class="reviews__item">
          <blockquote class="reviews__quote">
            <cite class="reviews__author">
              Николай Петров

              <span class="reviews__author-bio">
                25 лет, водитель трамвая
              </span>
            </cite>

            <p class="reviews__description">
              «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
            </p>
          </blockquote>
        </li>
      </ul>

      <ul class="togglers reviews__togglers-list">
        <li class="togglers__item">
          <button class="togglers__button togglers__button--current" type="button">
            <span class="visually-hidden">
              К отзыву 1.
            </span>
          </button>
        </li>

        <li class="togglers__item">
          <button class="togglers__button" type="button">
            <span class="visually-hidden">
              К отзыву 2.
            </span>
          </button>
        </li>

        <li class="togglers__item">
          <button class="togglers__button" type="button">
            <span class="visually-hidden">
              К отзыву 3.
            </span>
          </button>
        </li>
      </ul>

      <button class="reviews__button-arrow reviews__button-arrow--left" type="button">
        <span class="visually-hidden">
          Открыть предыдущий отзыв.
        </span>
      </button>

      <button class="reviews__button-arrow reviews__button-arrow--right" type="button">
        <span class="visually-hidden">
          Открыть следующий отзыв.
        </span>
      </button>
    </div>
  </section>

  <section class="tariffs page-main__tariffs">
    <h2 class="visually-hidden">
      Тарифы.
    </h2>

    <div class="tariffs__wrap">
      <table class="tariffs__table">
        <thead>
          <tr class="tariffs__names">
            <th class="tariffs__name tariffs__name--none" scope="col">
              <span class="visually-hidden">
                Свойства.
              </span>
            </th>

            <th class="tariffs__name" scope="col">
              База
              <p class="tariffs__price">
                1,99 USD
              </p>
            </th>

            <th class="hit tariffs__name tariffs__name--central" scope="col">
              Стандарт
              <p class="hit__content">
                Хит
              </p>
              <p class="tariffs__price">
                3,99 USD
              </p>
            </th>

            <th class="tariffs__name" scope="col">
              Анлим
              <p class="tariffs__price">
                9,99 USD
              </p>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="tariffs__functions">
            <td class="tariffs__function tariffs__function--mobile-none">
              Розовый фильтр
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Розовый фильтр
              </span>

              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Есть.
                </span>
              </p>
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Розовый фильтр
              </span>

              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Есть.
                </span>
              </p>
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Розовый фильтр
              </span>

              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Есть.
                </span>
              </p>
            </td>
          </tr>

          <tr class="tariffs__functions">
            <td class="tariffs__function tariffs__function--mobile-none">
              Смайлики
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Смайлики
              </span>

              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Нет.
                </span>
              </p>
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Смайлики
              </span>

              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Есть.
                </span>
              </p>
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Смайлики
              </span>

              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Есть.
                </span>
              </p>
            </td>
          </tr>

          <tr class="tariffs__functions">
            <td class="tariffs__function tariffs__function--mobile-none">
              Комментарии
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Комментарии
              </span>

              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Нет.
                </span>
              </p>
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Комментарии
              </span>

              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Нет.
                </span>
              </p>
            </td>

            <td class="tariffs__function">
              <span class="tariffs__alter">
                Комментарии
              </span>

              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Есть.
                </span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ul class="togglers tariffs__togglers-list">
      <li class="togglers__item">
        <button class="togglers__button" type="button">
          <span class="visually-hidden">
            К тарифу «База».
          </span>
        </button>
      </li>

      <li class="togglers__item">
        <button class="togglers__button togglers__button--current" type="button">
          <span class="visually-hidden">
            К тарифу «Стандарт».
          </span>
        </button>
      </li>

      <li class="togglers__item">
        <button class="togglers__button" type="button">
          <span class="visually-hidden">
            К тарифу «Анлим».
          </span>
        </button>
      </li>
    </ul>
  </section>

  <footer class="contacts page-main__footer">
    <p class="contacts__tagline">
      Остались вопросы?
      <br>
      Свяжитесь с нами!
    </p>

    <dl class="contacts-list contacts__list">
      <div class="contacts__wrapper">
        <dt class="contacts-list__item">
          Звоните:
        </dt>
        <dd class="contacts-list__description">
          <a class="contacts-list__link" href="tel:+78125556666">
            +7 (812) 555-66-66
          </a>
        </dd>
      </div>

      <div class="contacts__wrapper">
        <dt class="contacts-list__item">
          Пишите:
        </dt>
        <dd class="contacts-list__description">
          <a class="contacts-list__link" href="mailto:mail@htmlacademy.ru">
            mail@htmlacademy.ru
          </a>
        </dd>
      </div>

      <div class="contacts__wrapper">
        <dt class="contacts-list__item">
          Приезжайте в гости:
        </dt>
        <dd class="contacts-list__description">
          <a class="contacts-list__link" href="#!">
            ул. Большая
            <br>
            Конюшенная, 19/8
          </a>
        </dd>
      </div>
    </dl>

    <p class="contacts__map">
      <iframe class="contacts__google-map" title="Наше расположение." src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.608807798046!2d30.322392939146745!3d59.938633179301256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1653667598487!5m2!1sru!2sru" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <span class="visually-hidden">
        Наше расположение на карте.
      </span>
    </p>
  </footer>
{% endblock %}
