<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: Пинк &gt; {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="fonts/opensans.woff2" rel="preload" as="font" crossorigin="anonymous">
    <link href="fonts/opensansbold.woff2" rel="preload" as="font" crossorigin="anonymous">
    <link href="fonts/opensanslight.woff2" rel="preload" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.min.css">
    <link type="image/png" href="favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/svg+xml" href="favicon-32x32.svg" rel="icon">
    <link href="favicon-apple.png" rel="apple-touch-icon">
    <link href="favicons.webmanifest" rel="manifest">
  </head>

  <body class="page">
    <header class="page-header page__header js-page-header">
      <div class="page-header__wrapper">
        <div class="page-header__position page-header__position--js">
          <a class="logo page-header__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
            <picture>
              <source media="(min-width: 980px)" srcset="img/icon-logo-white-desktop.svg">
              <source media="(min-width: 660px)" srcset="img/icon-logo-white.svg">
              <img class="logo__image-pink" src="img/icon-pink.svg" alt="Логотип Pink.">
            </picture>
          </a>

          <button class="page-header__button-toogle js-burger-button" type="button">
            <span class="visually-hidden">
              Отвечает за открытие и закрытие меню.
            </span>
          </button>
        </div>

        <nav class="nav page-header__nav page-header__nav--closed">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link {{ 'nav__link--current' if page == 'index' }}" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
                Главная
              </a>
            </li>

            <li class="nav__item">
              <a class="nav__link {{ 'nav__link--current' if page == 'catalog' }}" href="catalog.html" {{ 'aria-current="page"' if page == 'catalog' }}>
                Фотографии
              </a>
            </li>

            <li class="nav__item">
              <a class="nav__link {{ 'nav__link--current' if page == 'form' }}" href="form.html" {{ 'aria-current="page"' if page == 'form' }}>
                Конкурс
              </a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#!">
                HTML Academy
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="page-main page__main">
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer page-footer--position">
      <a class="page-footer__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <picture>
          <source media="(min-width: 980px)" srcset="img/logo-pink-desktop.svg">
          <img class="page-footer__logo-pink" src="img/logo-pink.svg" alt="Логотип Pink.">
        </picture>
      </a>

      <ul class="social-list page-footer__social-list">
        <li class="social-list__item">
          <a class="social-list__link social-list__link--vk" href="#!">
            <span class="visually-hidden">
              Вконтакте.
            </span>
          </a>
        </li>

        <li class="social-list__item">
          <a class="social-list__link social-list__link--tg" href="#!">
            <span class="visually-hidden">
              Телеграмм.
            </span>
          </a>
        </li>

        <li class="social-list__item">
          <a class="social-list__link social-list__link--youtube" href="#!">
            <span class="visually-hidden">
              Ютуб.
            </span>
          </a>
        </li>
      </ul>

      <div>
        <a class="logo-dev page-footer__dev-link" href="https://htmlacademy.ru/intensive/adaptive">
          Разработано
          <p class="logo-dev__image">
            <span class="visually-hidden">
              Логотип HTML Academy.
            </span>
          </p>
        </a>
      </div>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
