<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: Пинк &gt; {{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body class="page">
    <header class="page-header page__header">
      <a class="logo page-header__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <img class="logo__image-pink" src="img/logo-pink-white.svg" width="74" height="23" alt="Логотип Pink.">
      </a>

      <nav class="nav page-header__nav">
        {# <button class="nav__button-toogle" type="button">
          <span class="visually-hidden">
            Отвечает за открытие и закрытие меню.
          </span>
        </button> #}

        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link {{ 'nav__link--current' if page == 'index' }}" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
              Главная
            </a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="catalog.html">
              Фотографии
            </a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="form.html">
              Конкурс
            </a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="#!">
              HTML Academy
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="page-main page__main">
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer page__footer">
      <a class="logo page-footer__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <img class="logo__image" src="img/logo-pink.svg" alt="Логотип Pink.">
      </a>

      <ul class="social-list page-footer__social-list">
        <li class="social-list__item">
          <a class="social-list__link social-list__link--vk" href="#!">
            <span class="visually-hidden">
              Вконтакте.
            </span>
          </a>
        </li>

        <li class="social-list__item">
          <a class="social-list__link social-list__link--tg" href="#!">
            <span class="visually-hidden">
              Телеграмм.
            </span>
          </a>
        </li>

        <li class="social-list__item">
          <a class="social-list__link social-list__link--youtube" href="#!">
            <span class="visually-hidden">
              Ютуб.
            </span>
          </a>
        </li>
      </ul>

      <a class="logo-dev page-footer__dev-link" href="https://htmlacademy.ru/intensive/adaptive">
        Разработано
        <span class="logo-dev__image">
        </span>
      </a>
    </footer>


    <script>
      window.pinegladePP = {
        breakpoints: [320, 660, 1200],
      };
    </script>

    <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js">
    </script>
  </body>
</html>
