<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>HTML Academy: Пинк &gt; {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body class="page">
    <header class="page-header page__header page__header--js">
      <div class="page-header__wrapper">
        <div class="page-header__position page-header__position--js">
          <a class="logo page-header__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
            <img class="logo__image-pink" src="img/logo-pink-white.svg" width="74" height="23" alt="Логотип Pink.">

            <img class="logo__image-variables" src="img/icon-logo-white.svg" width="145" height="40" alt="Логотип Pink.">
          </a>

          <button class="page-header__button-toogle page-header__button-toogle--js" type="button">
            <span class="page-header__button-closed visually-hidden">
              Отвечает за открытие и закрытие меню.
            </span>
          </button>
        </div>

        <nav class="nav page-header__nav page-header__nav--js page-header__nav--closed">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link {{ 'nav__link--current' if page == 'index' }}" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
                Главная
              </a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="catalog.html">
                Фотографии
              </a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="form.html">
                Конкурс
              </a>
            </li>

            <li class="nav__item">
              <a class="nav__link" href="#!">
                HTML Academy
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="page-main page__main">
      {% block main %}{% endblock %}
    </main>

    <footer class="page-footer page__footer">
      <a class="page-footer__logo" href="index.html" {{ 'aria-current="page"' if page == 'index' }}>
        <span class="visually-hidden">
          Логотип Pink.
        </span>
        <img class="page-footer__logo-pink" src="img/logo-pink.svg" width="145" height="40" alt="Логотип Pink.">
      </a>

      <ul class="social-list page-footer__social-list">
        <li class="social-list__item">
          <a class="social-list__link social-list__link--vk" href="#!">
            <span class="visually-hidden">
              Вконтакте.
            </span>
          </a>
        </li>

        <li class="social-list__item">
          <a class="social-list__link social-list__link--tg" href="#!">
            <span class="visually-hidden">
              Телеграмм.
            </span>
          </a>
        </li>

        <li class="social-list__item">
          <a class="social-list__link social-list__link--youtube" href="#!">
            <span class="visually-hidden">
              Ютуб.
            </span>
          </a>
        </li>
      </ul>

      <div>
        <a class="logo-dev page-footer__dev-link" href="https://htmlacademy.ru/intensive/adaptive">
          Разработано
          {# <img class="logo-dev__image" src="img/logo-html-academy.svg" width="27" height="34" alt="Сайт академии HTML Academy."> #}
          <p class="logo-dev__image">
            <span class="visually-hidden">
              Логотип HTML Academy.
            </span>
          </p>
        </a>
      </div>
    </footer>

    <script>
      window.pinegladePP = {
        breakpoints: [320, 660, 1200],
      };
    </script>

    <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js"></script>

    <script src="js/script.js"></script>
  </body>
</html>
