.form-post {
  padding: 20px 20px 38px;
  background-color: var(--color-lightgrey);

  @media @tablet-desktop {
    padding-top: 57px;
    padding-bottom: 29px;
  }

  @media @desktop {
    width: 940px;
    margin: 0 auto;
    padding: 57px 58px 30px 80px;
    box-sizing: border-box;
  }

  &--position {
    @media @mobile {
      margin-bottom: 36px;
    }

    @media @desktop {
      margin-bottom: 25px;
    }
  }
}

.form-post__form {
  @media @tablet-desktop {
    display: flex;
  }
}

.form-post__add {
  display: block;
  margin: 0 0 25px;
  padding: 0;
  height: 374px;
  background-image: url("../img/photo-7-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  @media @retina {
    background-image: url("../img/photo-7-mobile@2x.jpg");
  }

  @media @tablet-desktop {
    width: 300px;
    min-width: 300px;
    height: 400px;
    margin-right: 30px;
    background-image: url("../img/photo-7-tablet-desktop.jpg");

    @media @retina {
      background-image: url("../img/photo-7-tablet-desktop@2x.jpg");
    }
  }

  @media @desktop {
    margin-right: 72px;
  }
}

.form-post__fieldset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  padding: 0 0 69px;
  border: none;

  @media @tablet-desktop {
    justify-content: flex-start;
    padding-bottom: 50px;
  }

  @media @desktop {
    padding-bottom: 130px;
  }
}

.form-post__control {
  margin: 17px 10px 39px;

  &::after {
    content: "";
    position: absolute;
    right: -25px;
    bottom: 38px;
    left: -25px;
    height: 1px;
    background-color: var(--color-asphalt-10);

    @media @tablet-desktop {
      right: -11px;
      bottom: -22px;
      left: 0;
    }

    @media @desktop {
      right: -6px;
      bottom: -11px;
    }
  }

  @media @tablet-desktop {
    display: flex;
    align-items: center;
    position: relative;
    margin: 7px 10px 39px 12px;
    width: 100%;
  }

  @media @desktop {
    margin: -5px 10px 26px 12px;
  }

  &:last-child {
    &::after {
      @media @desktop {
        display: none;
      }
    }
  }
}

.form-post__button-control {
  position: relative;
  background-color: transparent;
  color: var(--color-asphalt-30);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &::before {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: currentColor;

    @media @tablet-desktop {
      width: 24px;
      height: 24px;
    }

    @media @desktop {
      width: 48px;
      height: 48px;
    }
  }

  &:hover {
    color: var(--color-asphalt-50);
  }

  @media @tablet-desktop {
    margin-right: 21px;
    color: var(--color-pink);
    pointer-events: none;
  }

  @media @desktop {
    margin-right: 38px;
  }
}

.form-post__button-control--cut {
  color: var(--color-pink);

  &:hover {
    color: var(--color-pink);
  }
}

.form-post__button-control--cut::before {
  mask-image: url("../img/icon-crop.svg");
}

.form-post__button-control--shade {
  &::before {
    mask-image: url("../img/icon-fill.svg");
  }
}

.form-post__button-control--contrast {
  &::before {
    mask-image: url("../img/icon-contrast.svg");
  }
}

.form-post__label {
  display: none;

  &--cut {
    @media @mobile {
      display: block;
    }
  }

  @media @tablet-desktop {
    display: block;
    width: inherit;
  }
}

.form-post__range {
  position: absolute;
  left: 16px;
  top: 91px;
  width: calc(100% - 36px);
  cursor: pointer;

  @media @tablet-desktop {
    position: relative;
    left: 0;
    top: 0;
    width: calc(100% - 8px);
  }

  @media @desktop {
    width: calc(100% - 22px);
  }
}

.form-post__button-block {
  margin: 0;

  @media @tablet-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media @desktop {
    flex-direction: row;
    padding-left: 18px;
    gap: 45px;
  }
}

.form-post__button {
  width: 100%;
  padding: 15px 40px 16px;
  border-radius: 29px;
  border: 3px solid var(--color-pink);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-pink);
  background-color: transparent;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color;

  &:not(:last-child) {
    margin-bottom: 12px;

    @media @tablet-desktop {
      margin-bottom: 24px;
    }

    @media @desktop {
      margin-bottom: 0;
    }
  }

  @media @tablet-desktop {
    width: 89%;
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-pink);
  }

  &:active {
    color: var(--color-white-30);
    background-color: var(--color-pink);
  }
}

.form-post__button--reset {
  color: var(--color-asphalt-10);
  border-color: var(--color-asphalt-10);

  &:hover {
    color: var(--color-asphalt-30);
    border-color: var(--color-asphalt-30);
    background-color: transparent;
  }

  &:active {
    color: var(--color-white-30);
    border-color: var(--color-asphalt-30);
    background-color: var(--color-asphalt-30);
  }
}

.form__checkboxes {
  @media @tablet-desktop {
    padding: 34px 58px 52px;
  }

  @media @desktop {
    padding-bottom: 59px;
  }
}
